<b>I was having difficulty getting agate working so I decided to give Pandas a try</b>

In [387]:
import csv
import pandas as pd
import numpy as np

In [388]:
low_memory =False

Uploading the file

In [389]:
hatecrime = pd.read_csv('oncampushate111213.csv')

<b>Given that some of the recent incidents on MU's campus have involved vandalism, that's what
I've decided to focus on. First, I thought I would learn how many schools were in each state.</b>

In [390]:
campus_per_state = hatecrime[['State']]
print campus_per_state.groupby(['State']).count().sort(['State'], ascending=False)

       State
State
CA      1059
TX       729
FL       695
NY       628
PA       492
OH       455
IL       444
GA       349
MI       331
MO       325
NC       320
VA       284
TN       272
AZ       248
MA       240
IN       230
PR       210
NJ       207
KY       203
WA       199
WI       196
OK       190
LA       188
MN       183
CO       174
SC       173
IA       149
OR       143
MD       141
KS       133
AR       124
AL       122
CT       116
UT       105
MS        95
WV        88
NE        84
NM        82
NV        68
ID        64
ME        61
NH        58
DC        46
HI        45
ND        42
MT        39
DE        36
SD        35
RI        32
VT        32
AK        32
WY        19
FM         6
GU         3
VI         3
MP         3
MH         2
AS         1
PW         1

[59 rows x 1 columns]

<b>There are 325 schools from Missouri in the database. Good to know.<b>

<b>Now I'll try to make a general table for ten Missouri schools, starting with the largest body of students.</b>

In [391]:
mo_schools = hatecrime[['UNITID_P', 'INSTNM', 'BRANCH', 'City', 'State', 'men_total', 'women_total', 'Total']]
mo_schools_population = mo_schools.loc[mo_schools['State'] == 'MO'].groupby(['INSTNM']).aggregate(np.sum).sort(['Total'], ascending=False)
print mo_schools_population.dropna()[:10]

                                                                         UNITID_P  \
INSTNM
Saint Louis Community College                                          1613772052
Webster University                                                     1619046326
Columbia College                                                       1593585139
Metropolitan Community College-Kansas City                             1067970021
Lindenwood University                                                  1423744048
Central Methodist University-College of Graduate and Extended Studies  7569539153
Park University                                                        1251047148
Ozarks Technical Community College                                      887360015
Kaplan University-Davenport Campus                                      260901004
Southeast Missouri State University                                     718228010

                                                                       men_total  \
INSTNM
Saint Louis Community College                                              88020
Webster University                                                         68193
Columbia College                                                           61803
Metropolitan Community College-Kansas City                                 49968
Lindenwood University                                                      40328
Central Methodist University-College of Graduate and Extended Studies      26571
Park University                                                            40663
Ozarks Technical Community College                                         31310
Kaplan University-Davenport Campus                                         12838
Southeast Missouri State University                                        19784

                                                                       women_total  \
INSTNM
Saint Louis Community College                                               128025
Webster University                                                           92943
Columbia College                                                             90711
Metropolitan Community College-Kansas City                                   65436
Lindenwood University                                                        57376
Central Methodist University-College of Graduate and Extended Studies        50864
Park University                                                              36183
Ozarks Technical Community College                                           42680
Kaplan University-Davenport Campus                                           39569
Southeast Missouri State University                                          27284

                                                                        Total
INSTNM
Saint Louis Community College                                          216045
Webster University                                                     161136
Columbia College                                                       152514
Metropolitan Community College-Kansas City                             115404
Lindenwood University                                                   97704
Central Methodist University-College of Graduate and Extended Studies   77435
Park University                                                         76846
Ozarks Technical Community College                                      73990
Kaplan University-Davenport Campus                                      52407
Southeast Missouri State University                                     47068

[10 rows x 4 columns]

<b>Hmmm...so, MU Columbia is not within the top ten in terms of the student body population. 
Then again, the record layout doesn't really specify what makes up the grand total.
Oh well, let's try to see if we can get the data on Mizzou by searching for city and state.</b>

In [392]:
schools = hatecrime[['UNITID_P', 'INSTNM', 'BRANCH', 'City', 'State', 'men_total', 'women_total', 'Total']]
mo_schools = schools.loc[schools['State'] == 'MO']
mo_schools_columbia = mo_schools.loc[mo_schools['City'] == 'Columbia'].groupby(['INSTNM']).aggregate(np.sum).sort(['Total'], ascending=False)
print mo_schools_columbia.dropna()[:10]

                                                                        UNITID_P  \
INSTNM
Columbia College                                                       177065001
Moberly Area Community College                                         178448002
Central Methodist University-College of Graduate and Extended Studies  445267004
William Woods University                                               179964002
Bryan University                                                       475583001

                                                                       men_total  \
INSTNM
Columbia College                                                            6867
Moberly Area Community College                                              2249
Central Methodist University-College of Graduate and Extended Studies       1563
William Woods University                                                     693
Bryan University                                                              22

                                                                       women_total  \
INSTNM
Columbia College                                                             10079
Moberly Area Community College                                                3461
Central Methodist University-College of Graduate and Extended Studies         2992
William Woods University                                                      1443
Bryan University                                                                89

                                                                       Total
INSTNM
Columbia College                                                       16946
Moberly Area Community College                                          5710
Central Methodist University-College of Graduate and Extended Studies   4555
William Woods University                                                2136
Bryan University                                                         111

[5 rows x 4 columns]

<b>No Mizzou or Stephens College. Let's try something else.</b>

<b>Lets look for the 20 most populous schools in the entire database.</b>

In [393]:
big_schools = schools.groupby(['INSTNM']).aggregate(np.sum).sort(['Total'], ascending=False)
print big_schools.dropna()[:20]

                                                        UNITID_P  men_total  \
INSTNM
Ivy Tech Community College                            3623688300     981216
Embry-Riddle Aeronautical University-Worldwide       57978715157    1711152
Webster University                                   11873006895     500082
Houston Community College                             4283037259     466906
Austin Community College District                     5351808373     444240
University of Central Florida                         2126448151     429504
Northern Virginia Community College                   3261244105     353640
New York University                                   3102400145     297904
Northern Arizona University                           2422590316     248377
Columbia College                                      7439736713     241826
Miami Dade College                                    1085736041     221792
Lone Star College System                              1590274028     180579
Park University                                       7148840963     232360
Broward College                                       1327090055     180350
SUNY Empire State College                             6869240630     155925
Virginia Polytechnic Institute and State University   3040973103     235222
Purdue University-Main Campus                         2437800055     232340
University of Southern California                     1115649045     179073
Pima Community College                                1266300098     169428
Instituto de Banca y Comercio Inc                     5333284253     156618

                                                     women_total    Total
INSTNM
Ivy Tech Community College                               1389456  2370672
Embry-Riddle Aeronautical University-Worldwide            269552  1980704
Webster University                                        681582  1181664
Houston Community College                                 634676  1101582
Austin Community College District                         554808   999048
University of Central Florida                             523920   953424
Northern Virginia Community College                       371602   725242
New York University                                       415680   713584
Northern Arizona University                               363285   611662
Columbia College                                          355699   597525
Miami Dade College                                        308592   530384
Lone Star College System                                  267925   448504
Park University                                           206760   439120
Broward College                                           258480   438830
SUNY Empire State College                                 257880   413805
Virginia Polytechnic Institute and State University       170443   405665
Purdue University-Main Campus                             165600   397940
University of Southern California                         193239   372312
Pima Community College                                    191556   360984
Instituto de Banca y Comercio Inc                         202840   359458

[20 rows x 4 columns]

<b>Now, let's look at the first 20 schools that had the largest number of reported vandalism cases from 2011 - 2012</b>

In [394]:
hatecrime['VANDAL_111213'] = hatecrime['VANDAL11'] + hatecrime['VANDAL12'] + hatecrime['VANDAL13']
vandalism = hatecrime[['INSTNM', 'State', 'BRANCH', 'VANDAL11', 'VANDAL12', 'VANDAL13', 'VANDAL_111213']]
van_inst = vandalism.sort(['VANDAL_111213'], ascending=False)
print van_inst.dropna()[:20]

                                         INSTNM State  \
1023                         Fort Lewis College    CO
5742                    Delaware Valley College    PA
1146                            Trinity College    CT
469           University of California-Berkeley    CA
5906  Pennsylvania State University-Main Campus    PA
3160                    Northeastern University    MA
1183                        American University    DC
2220               Indiana University-Southeast    IN
5350                            Oberlin College    OH
5365          Ohio State University-Main Campus    OH
2961        University of Maryland-College Park    MD
4721                             SUNY at Albany    NY
1087                  University of Connecticut    CT
482         University of California-Santa Cruz    CA
4723                         SUNY at Binghamton    NY
2713                        Thomas More College    KY
1133                      Quinnipiac University    CT
4148                        Keene State College    NH
4243                 Montclair State University    NJ
3058                              Curry College    MA

                           BRANCH  VANDAL11  VANDAL12  VANDAL13  VANDAL_111213
1023                  Main Campus         0         7         8             15
5742      Delaware Valley College         7         5         2             14
1146  Main Campus Trinity College         9         3         0             12
469                   Main Campus         4         5         3             12
5906       University Park Campus         3         3         6             12
3160                  Main Campus         3         3         5             11
1183                  Main Campus         2         0         9             11
2220                  Main Campus         2         8         0             10
5350                  Main Campus         3         0         7             10
5365                  Main Campus         4         3         2              9
2961                  Main Campus         1         4         4              9
4721                  Main Campus         2         7         0              9
1087                  Main Campus         2         3         4              9
482                   Main Campus         8         0         1              9
4723                  Main Campus         2         2         5              9
2713                  Main Campus         3         4         2              9
1133                  Main Campus         0         3         6              9
4148          Keene State College         6         3         0              9
4243                  Main Campus         2         4         3              9
3058                  Main Campus         3         4         2              9

[20 rows x 7 columns]

<b>Taking a quick look at the top 3, Fort Lewis in Colorado had the highest number of vandlism incidents during this time period with 15, with incidents increasing with each passing year. Delaware Valley in Pennsylvania was second with 14, with incidents decreasing with each year and Trinity College in Conneticut is number 3 with 12 reported incidents and a pretty massive decrease over the same period of time. Now to get the national total for reported vandalism, year by year over this period.</b>

In [395]:
van11total = hatecrime['VANDAL11'].sum()
print 'Below is the number of cases of vandalism reported on college campuses in 2011'
print van11total
van12total = hatecrime['VANDAL12'].sum()
print 'Below is the number of cases of vandalism reported on college campuses in 2012'
print van12total
van13total = hatecrime['VANDAL13'].sum()
print 'Below is the number of cases of vandalism reported on college campuses in 2013'
print van13total
van3year_total = van11total + van12total + van13total
print 'The total from 2011, 2012, and 2013 is:'
print van3year_total

Below is the number of cases of vandalism reported on college campuses in 2011
371.0
Below is the number of cases of vandalism reported on college campuses in 2012
410.0
Below is the number of cases of vandalism reported on college campuses in 2013
370
The total from 2011, 2012, and 2013 is:
1151.0

<b>Reported incidents of vandalism spiked up in 2012 with 410 reported incidents from the previous year's 371 before dropping back down to 370 in 2013. Over this period there were 1151 reported incidents of vandalism.</b>

In [396]:
hatecrime['VANDAL_RAC111213'] = hatecrime['VANDAL_RAC11'] + hatecrime['VANDAL_RAC12'] + hatecrime['VANDAL_RAC13']
vandal_race111213 = hatecrime['VANDAL_RAC111213'].sum()
print 'Vandalism by racial bias over three years:'
print vandal_race111213

hatecrime['VANDAL_REL111213'] = hatecrime['VANDAL_REL11'] + hatecrime['VANDAL_REL12'] + hatecrime['VANDAL_REL13']
vandal_religion111213 = hatecrime['VANDAL_REL111213'].sum()
print 'Vandalism by religious bias over three years:'
print vandal_religion111213

hatecrime['VANDAL_SEX111213'] = hatecrime['VANDAL_SEX11'] + hatecrime['VANDAL_SEX12'] + hatecrime['VANDAL_SEX13']
vandal_sex111213 = hatecrime['VANDAL_SEX111213'].sum()
print 'Vandalism by sexual orientation bias over three years:'
print vandal_sex111213

hatecrime['VANDAL_GEN111213'] = hatecrime['VANDAL_GEN11'] + hatecrime['VANDAL_GEN12'] + hatecrime['VANDAL_GEN13']
vandal_gender111213 = hatecrime['VANDAL_GEN111213'].sum()
print 'Vandalism by gender bias over three years:'
print vandal_gender111213

hatecrime['VANDAL_DIS111213'] = hatecrime['VANDAL_DIS11'] + hatecrime['VANDAL_DIS12'] + hatecrime['VANDAL_DIS13']
vandal_disability111213 = hatecrime['VANDAL_DIS111213'].sum()
print 'Vandalism by disability bias over three years:'
print vandal_disability111213

hatecrime['VANDAL_ETH111213'] = hatecrime['VANDAL_ETH11'] + hatecrime['VANDAL_ETH12'] + hatecrime['VANDAL_ETH13']
vandal_ethnicity111213 = hatecrime['VANDAL_ETH111213'].sum()
print 'Vandalism by ethnicity bias over three years:'
print vandal_ethnicity111213

vandal_hate_all = vandal_race111213 + vandal_religion111213 + vandal_sex111213 + vandal_gender111213 + vandal_disability111213 + vandal_ethnicity111213
print 'All together:'
print vandal_hate_all

Vandalism by racial bias over three years:
502.0
Vandalism by religious bias over three years:
175.0
Vandalism by sexual orientation bias over three years:
325.0
Vandalism by gender bias over three years:
34.0
Vandalism by disability bias over three years:
3.0
Vandalism by ethnicity bias over three years:
100.0
All together:
1139.0

<b>So there were a total of 1139 incidents of vandalism on college campuses over this three year period classified as a hatecrime. Given that the record layout for this is a little unclear, this either means that out of a total of 1151 incidents of vandalism, 98% of these reported incidents were classified as a hate crime OR that there were almost as many hate-crime related incidents of vandalism as ordinary acts of vandalism on college campuses.

44 percent of all hate-based vandalism on campuses over this three year period was tied to a racial bias. Nearly 29 percent was over sexual orientation, 15 percent involved religious bias, and nearly 9 percent involved a relgious bias.
</b>

<b>Breaking down the reported hate crimes for each year</b>

In [397]:
print 'Reported incidents per year, 2011, 2012, 2013'
print 'In 2011 to 2013, racial vandalism incidents:' 
print hatecrime['VANDAL_RAC11'].sum()
print hatecrime['VANDAL_RAC12'].sum()
print hatecrime['VANDAL_RAC13'].sum()

print 'Religion, 2011 - 2013:'
print hatecrime['VANDAL_REL11'].sum()
print hatecrime['VANDAL_REL12'].sum()
print hatecrime['VANDAL_REL13'].sum()

print 'Sexual Orientation 2011 -2013:' 
print hatecrime['VANDAL_SEX11'].sum()
print hatecrime['VANDAL_SEX12'].sum()
print hatecrime['VANDAL_SEX13'].sum()

print 'Gender 2011-2013'
print hatecrime['VANDAL_GEN11'].sum()
print hatecrime['VANDAL_GEN12'].sum()
print hatecrime['VANDAL_GEN13'].sum()

print 'Disability 2011-2013'
print hatecrime['VANDAL_DIS11'].sum()
print hatecrime['VANDAL_DIS12'].sum()
print hatecrime['VANDAL_DIS13'].sum()

print 'Ethnicity 2011-2013'
print hatecrime['VANDAL_ETH11'].sum()
print hatecrime['VANDAL_ETH12'].sum()
print hatecrime['VANDAL_ETH13'].sum()

Reported incidents per year, 2011, 2012, 2013
In 2011 to 2013, racial vandalism incidents:
171.0
187.0
152
Religion, 2011 - 2013:
57.0
71.0
48
Sexual Orientation 2011 -2013:
105.0
107.0
114
Gender 2011-2013
7.0
11.0
17
Disability 2011-2013
1.0
0.0
2
Ethnicity 2011-2013
30.0
34.0
37

<b>So, there's not a lot of change in the number of incidents over the years. Vandalism tied to racial bias on college campuses remained the highest for each year, although it did drop by around 19 percent in 2013 and religious-related vandalism dropped by about 32 percent the same year. Vandalism tied to sexual orientation rose over this period.</b>

In [398]:
hatecrime['VANDAL_HATE111213'] = hatecrime['VANDAL_RAC111213'] + hatecrime['VANDAL_REL111213'] + hatecrime['VANDAL_SEX111213'] + hatecrime['VANDAL_GEN111213'] + hatecrime['VANDAL_DIS111213'] + hatecrime['VANDAL_ETH111213']
hate_by_state = hatecrime[['State', 'VANDAL_RAC111213', 'VANDAL_REL111213', 'VANDAL_SEX111213', 'VANDAL_GEN111213', 'VANDAL_DIS111213', 'VANDAL_ETH111213', 'VANDAL_HATE111213']]
hate_by_state_result = hate_by_state.groupby(['State']).aggregate(np.sum).sort(['VANDAL_HATE111213'], ascending=False)
print hate_by_state_result

       VANDAL_RAC111213  VANDAL_REL111213  VANDAL_SEX111213  VANDAL_GEN111213  \
State
NY                   67                47                23                 7
CA                   50                11                32                 3
PA                   36                20                27                 1
MA                   18                12                21                 1
OH                   24                 4                13                 2
CT                   16                 8                20                 0
IL                   21                 3                12                 1
MD                   22                 8                 9                 0
NJ                   17                12                10                 0
MI                   15                 8                 7                 0
WA                   12                 3                13                 0
IN                   23                 3                 1                 0
DC                   17                 3                 5                 1
CO                    7                 4                10                 1
WI                   11                 0                 9                 0
MN                    7                 2                 8                 0
FL                   13                 4                 3                 0
IA                    7                 5                 6                 1
OR                   11                 1                 6                 0
VA                    3                 6                 8                 0
RI                    5                 0                12                 0
MO                    9                 0                 5                 1
NH                    7                 1                 8                 0
KY                   12                 0                 2                 1
SC                   12                 0                 2                 0
TX                    7                 1                 6                 0
NC                    9                 0                 4                 0
OK                    3                 1                 3                 2
ME                    3                 1                 7                 0
NM                    3                 0                 4                 3
VT                    2                 3                 4                 1
SD                    8                 0                 0                 0
GA                    4                 2                 2                 1
KS                    4                 1                 0                 2
AZ                    2                 0                 2                 0
NE                    1                 0                 4                 0
AR                    3                 0                 1                 0
LA                    3                 0                 0                 1
TN                    2                 0                 0                 2
AL                    1                 0                 3                 0
WV                    3                 0                 0                 0
ID                    1                 0                 1                 0
UT                    0                 0                 3                 0
MS                    0                 0                 2                 0
MT                    0                 0                 2                 0
ND                    1                 0                 1                 0
PR                    0                 0                 0                 2
HI                    0                 0                 2                 0
WY                    0                 0                 2                 0
AK                    0                 1                 0                 0
DE                    0                 0                 0                 0
FM                    0                 0                 0                 0
GU                    0                 0                 0                 0
MH                    0                 0                 0                 0
NV                    0                 0                 0                 0
AS                    0                 0                 0                 0
PW                    0                 0                 0                 0
VI                    0                 0                 0                 0
MP                    0                 0                 0                 0

       VANDAL_DIS111213  VANDAL_ETH111213  VANDAL_HATE111213
State
NY                    1                22                167
CA                    0                18                114
PA                    1                 9                 94
MA                    0                11                 63
OH                    0                 4                 47
CT                    0                 0                 44
IL                    0                 6                 43
MD                    0                 3                 42
NJ                    0                 3                 42
MI                    0                 0                 30
WA                    0                 1                 29
IN                    0                 1                 28
DC                    0                 0                 26
CO                    0                 4                 26
WI                    0                 2                 22
MN                    0                 4                 21
FL                    0                 0                 20
IA                    0                 0                 19
OR                    0                 1                 19
VA                    0                 1                 18
RI                    0                 0                 17
MO                    0                 1                 16
NH                    0                 0                 16
KY                    0                 0                 15
SC                    0                 0                 14
TX                    0                 0                 14
NC                    0                 1                 14
OK                    0                 3                 12
ME                    0                 0                 11
NM                    0                 0                 10
VT                    0                 0                 10
SD                    0                 1                  9
GA                    0                 0                  9
KS                    1                 0                  8
AZ                    0                 2                  6
NE                    0                 0                  5
AR                    0                 1                  5
LA                    0                 0                  4
TN                    0                 0                  4
AL                    0                 0                  4
WV                    0                 0                  3
ID                    0                 1                  3
UT                    0                 0                  3
MS                    0                 0                  2
MT                    0                 0                  2
ND                    0                 0                  2
PR                    0                 0                  2
HI                    0                 0                  2
WY                    0                 0                  2
AK                    0                 0                  1
DE                    0                 0                  0
FM                    0                 0                  0
GU                    0                 0                  0
MH                    0                 0                  0
NV                    0                 0                  0
AS                    0                 0                  0
PW                    0                 0                  0
VI                    0                 0                  0
MP                    0                 0                  0

[59 rows x 7 columns]

<b>I thought this may have yielded something interesting, but it's a little underwhelming. Both NY and CA have a lot of campuses.</b>

In [399]:
hate_by_campus = hatecrime[['INSTNM', 'State', 'BRANCH', 'VANDAL_RAC111213', 'VANDAL_REL111213', 'VANDAL_SEX111213', 'VANDAL_GEN111213', 'VANDAL_DIS111213', 'VANDAL_ETH111213', 'VANDAL_HATE111213']]
hate_by_campus_result = hate_by_campus.sort(['VANDAL_HATE111213'], ascending=False)
print hate_by_campus_result.dropna()[:10]

                                         INSTNM State  \
1023                         Fort Lewis College    CO
5742                    Delaware Valley College    PA
1146                            Trinity College    CT
469           University of California-Berkeley    CA
5906  Pennsylvania State University-Main Campus    PA
3160                    Northeastern University    MA
1183                        American University    DC
2220               Indiana University-Southeast    IN
5350                            Oberlin College    OH
5365          Ohio State University-Main Campus    OH

                           BRANCH  VANDAL_RAC111213  VANDAL_REL111213  \
1023                  Main Campus                 2                 1
5742      Delaware Valley College                 6                 4
1146  Main Campus Trinity College                 0                 3
469                   Main Campus                 1                 1
5906       University Park Campus                 6                 3
3160                  Main Campus                 3                 2
1183                  Main Campus                 8                 1
2220                  Main Campus                10                 0
5350                  Main Campus                 5                 4
5365                  Main Campus                 2                 0

      VANDAL_SEX111213  VANDAL_GEN111213  VANDAL_DIS111213  VANDAL_ETH111213  \
1023                 8                 0                 0                 4
5742                 4                 0                 0                 0
1146                 9                 0                 0                 0
469                  6                 0                 0                 4
5906                 3                 0                 0                 0
3160                 3                 0                 0                 3
1183                 2                 0                 0                 0
2220                 0                 0                 0                 0
5350                 1                 0                 0                 0
5365                 4                 2                 0                 1

      VANDAL_HATE111213
1023                 15
5742                 14
1146                 12
469                  12
5906                 12
3160                 11
1183                 11
2220                 10
5350                 10
5365                  9

[10 rows x 10 columns]

<b>While this is based around hate-based vandalism incidents, it's important to note that this table is almost identical to the earlier table based on reported vandalism. This gives credence to the notion that the VANDAL_11 column and the subsequent years bundle the total of hate-based vandalism and other vandalism together.</b>

In [400]:
hate_by_campus_ny = hate_by_campus.loc[hate_by_campus['State'] == 'NY'].sort(['VANDAL_HATE111213'], ascending=False)
print hate_by_campus_ny.dropna()[:10]

                                           INSTNM State  \
4723                           SUNY at Binghamton    NY
4721                               SUNY at Albany    NY
4850           SUNY Westchester Community College    NY
4730                           Buffalo State SUNY    NY
4506                             Hamilton College    NY
4725                       Stony Brook University    NY
4426  Columbia University in the City of New York    NY
4381                                 Bard College    NY
4414                            Cazenovia College    NY
4734    State University of New York at New Paltz    NY

                                                 BRANCH  VANDAL_RAC111213  \
4723                                        Main Campus                 2
4721                                        Main Campus                 6
4850                                        Main Campus                 7
4730                              Buffalo State College                 1
4506                                        Main Campus                 0
4725                             Stony Brook University                 2
4426                 Columbia University Medical Center                 0
4381                                        Main Campus                 3
4414                                        Main Campus                 0
4734  State University of New York, College at New P...                 3

      VANDAL_REL111213  VANDAL_SEX111213  VANDAL_GEN111213  VANDAL_DIS111213  \
4723                 6                 1                 0                 0
4721                 1                 2                 0                 0
4850                 0                 0                 1                 0
4730                 0                 2                 1                 0
4506                 1                 2                 1                 0
4725                 4                 0                 0                 0
4426                 5                 0                 0                 0
4381                 1                 1                 0                 0
4414                 1                 2                 2                 0
4734                 1                 1                 0                 0

      VANDAL_ETH111213  VANDAL_HATE111213
4723                 0                  9
4721                 0                  9
4850                 0                  8
4730                 3                  7
4506                 3                  7
4725                 0                  6
4426                 0                  5
4381                 0                  5
4414                 0                  5
4734                 0                  5

[10 rows x 10 columns]

<b>Could potentially make for an interesting infographic. What kind of incidents have occurred on each campus over this three-year period. Ex. SUNY Albany has had more racially motivated incidents of vandalism while SUNY Binghamton has had more instances of relgious vandalism.</b>

In [401]:
hate_by_campus_mo = hate_by_campus.loc[hate_by_campus['State'] == 'MO'].sort(['VANDAL_HATE111213'], ascending=False)
print hate_by_campus_mo.dropna()[:10]

                                          INSTNM State  \
3809             University of Missouri-Columbia    MO
3880                      Saint Louis University    MO
3892               Saint Louis Community College    MO
3916              North Central Missouri College    MO
3875                    Ranken Technical College    MO
3989                      William Jewell College    MO
3899                Southwest Baptist University    MO
3769                       Lindenwood University    MO
3782  Metropolitan Community College-Kansas City    MO
3825                       Neosho Beauty College    MO

                                     BRANCH  VANDAL_RAC111213  \
3809                            Main Campus                 4
3880                            Main Campus                 0
3892  Saint Louis Community College-Meramec                 2
3916                            Main Campus                 0
3875                            Main Campus                 2
3989                 William Jewell College                 0
3899                            Main Campus                 1
3769                  Lindenwood University                 0
3782                            Main Campus                 0
3825                            Main Campus                 0

      VANDAL_REL111213  VANDAL_SEX111213  VANDAL_GEN111213  VANDAL_DIS111213  \
3809                 0                 0                 0                 0
3880                 0                 3                 0                 0
3892                 0                 0                 0                 0
3916                 0                 1                 1                 0
3875                 0                 0                 0                 0
3989                 0                 1                 0                 0
3899                 0                 0                 0                 0
3769                 0                 0                 0                 0
3782                 0                 0                 0                 0
3825                 0                 0                 0                 0

      VANDAL_ETH111213  VANDAL_HATE111213
3809                 0                  4
3880                 0                  3
3892                 1                  3
3916                 0                  2
3875                 0                  2
3989                 0                  1
3899                 0                  1
3769                 0                  0
3782                 0                  0
3825                 0                  0

[10 rows x 10 columns]

<b>Ah, there's Mizzou at number one for the number of hate-based vandalism on a college campus in Missouri. There were four reported incidents at Mizzou during this period, all racially based. There were only sixteen reported cases of hate-based vandalism on Missouri campuses during this three-year period.</b>

In [402]:
MU_VANDAL_RACE = hatecrime[['INSTNM', 'VANDAL_RAC11', 'VANDAL_RAC12', 'VANDAL_RAC13']]
mizzou_hate = MU_VANDAL_RACE.loc[MU_VANDAL_RACE['INSTNM'] == 'University of Missouri-Columbia']
print mizzou_hate.dropna()

                               INSTNM  VANDAL_RAC11  VANDAL_RAC12  \
3809  University of Missouri-Columbia             2             0

      VANDAL_RAC13
3809             2

[1 rows x 4 columns]

<b>And now I know when the incidents occurred which will make it just a little bit easier if I were to request the incident reports of these events.</b>

<b>While I think the idea has potential, I'm not quite sure if much of what's been pulled from this database would work for a local piece. The incidents that have occurred at Mizzou could make for a decent contextual piece to current events, but I'm not sure this database is much use for that. 

Racially motivated incidents of vandalism occur on campuses more often than other hate-based vandalism incidents. Based on what I've uncovered, it looks like incidents of hate-based vandalism vastly overshadow non hate-based incidents. While there appears to have been some drops in religious and racial incidents, gender, sexual orientation, and ethnicity incidents increased over the three-year period.

I could see the information yielded from this database featured as supplemental material to a more personal story about the economic cost (which I would guess is usually marginal) and the emotional stress these incidents create on a college campus. Readers could visit a page and look up the number of incidents on the campus they enter in the search box. This data could also potentially be used for mapping incidents of vandalism and color-coding them by their particular classification (race, religion, sexual orientation, gender, etc.). </b>